@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "NanumSquare", sans-serif;
    font-weight: 500;
    text-decoration: none;
}

body {
    color: #333;
    /*background-color: #e0e0e0;*/
    background-color: #000 !important;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: white;
    background-color: transparent;
}
header .login-user {
    position: absolute;
    left: 12%;
    z-index: 1;
}

header a {
    text-decoration-line: none;
    color: white;
}

.logo {
    font-size: 24px;
    display: none;
}


.user-menu {
    font-size: 18px;
    cursor: pointer;
}



main {
    padding: 20px;
    width: 80%;
    margin: 0 auto;
}

.main-box {
  position: relative;
  max-width: 600px;
  text-align: left;
  z-index: 1;
}

.main-logo {
  width: 180px;
  filter: invert();
  margin-bottom: 20px;
}

.main-box h2 {
  color: #f9f9f9;
  font-weight: 600;
  font-size: 2.4em;
}

.slide {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  padding-bottom: 8vw;
  position: relative;
}

.slide-nav {
  display: flex;
  align-items: center;
  position: absolute;
  right: 10px;
  z-index: 2;
  width: 60vw;
  flex-direction: row;
  left: 50%;
  bottom: -120px;
  transform: translateX(-50%);
}

input[type="radio"] {
  display: none;
}

.label1,
.label2,
.label3,
.label4 {
  width: 2px;
  margin: 1px;
  padding: 0;

  background-color: silver;
  opacity: 0.2;

  border: none;
  flex-grow: 1;
  justify-content: space-evenly;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.label1:after,
.label2:after,
.label3:after,
.label4:after {
  content: "";
  cursor: pointer;

  width: 20px;
  height: 100%;

  position: absolute;
  right: -7px;
}

input[id="select_box1"]:checked ~ .slide-nav .label1 {
  background-color: #f9f9f9;
  opacity: 0.5;
}
input[id="select_box2"]:checked ~ .slide-nav .label2 {
  background-color: #f9f9f9;
  opacity: 0.5;
}
input[id="select_box3"]:checked ~ .slide-nav .label3 {
  background-color: #f9f9f9;
  opacity: 0.5;
}

.slide-btn {
  position: absolute;
  top: 26vh;
  right: 0;

  background-image: url(https://static-assets.bamgrid.com/product/disneyplus/images/play-button-marketing.4bb6b792c1ef11092c43de1ead55dea0.svg);
  background-color: transparent;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 15px 15px;

  border: none;

  width: 40px;
  height: 40px;
  padding-top: 2px 6px 3px 6px;

  z-index: 2;
  cursor: pointer;
}

.background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -9999;
  top: 13%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.only-desktop {
  display: none;
}

.slide-text-box {
  width: auto;
  height: auto;

  position: absolute;
  top: 16px;
  right: 80px;
  left: 16px;

  font-size: 12px;
  line-height: 16px;

  z-index: 1;
}

.slide-text {
  margin-bottom: 0;
}

.select_img {
  opacity: 0;
  transition-duration: 3s;
  animation-duration: 3s;
}

/* label 클릭시 이미지 나타내기 */
input[id="select_box1"]:checked ~ div #imgbox .select1 {
  opacity: 1;
}
input[id="select_box2"]:checked ~ div #imgbox .select2 {
  opacity: 1;
}
input[id="select_box3"]:checked ~ div #imgbox .select3 {
  opacity: 1;
}

@media only screen and (min-width: 769px) {

  .label1,
  .label2,
  .label3,
  .label4 {
    height: 3px;
    width: auto;
  }

  .slide-btn {
    bottom: 53px;
    right: 15vw;
    top: auto;
  }

  .only-mobile {
    display: none;
  }

  .only-desktop {
    display: block;
  }

  .slide-text-box {
    bottom: 16px;
    left: 50%;
    text-align: center;
    top: auto;
    transform: translateX(-50%);
    width: 60vw;
  }
}

/* footer */
.main-footer {
  position: fixed;
}
footer {
    position: relative;
    width: 100%;
    margin: 0 auto;
    background: #000;
    color: white;
    bottom: 0;
}

.footer-wrap {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.footer-wrap .image-wrap {
    margin: auto 0;
    position: relative;
}


.footer-wrap .footer-text {
    margin: auto 0;
    color: #B6B6B6;
    z-index: 1;
}

/* 프로필 css */
header .inner-header .profile-box {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}
header .inner-header .profile-box img {
    width: 100%;
    height: 100%;
}

header .gnb {
    background: rgb(0 0 0 / 80%);
    color: #b6b6b6;
    height: 100vh;
    font-size: 30px;
    padding: 30px 20px;
    box-sizing: border-box;

    position: fixed;
    z-index: 2000;
    right: -100%;
    top: 0;
    transition: 0.6s;

    display: flex;
    flex-direction: row-reverse;
}

header .gnb.on {
    right: 0;
}

header .gnb .close {
    display: block;
    color: #fff;
}
header .gnb ul {
    margin-right: 50px;
}
header .gnb ul li {
    font-weight: 700;
    line-height: 1.7;
    color: lightgray;
}

header .gnb ul li a {
    text-decoration-line: none;
    color: rgb(122, 121, 121);
}

header .gnb ul li:hover,
header .gnb ul li.active {
    color: #fff;
}
header .menu-open {
    /* background: skyblue; */
    /* flex: 1; */
    font-size: 16px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration-line: none;
    color: white;
}
header .menu-open .lnr-menu {
    font-size: 33px;
    margin-left: 15px;
    text-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.modal-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 950px;
    height: 99%;
    flex-wrap: wrap;
    position: fixed;
    z-index: 9999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: lightgray;
    border-radius: 15px;
}

.modal-wrap .img-wrap {
    width: 47%;
}
.modal-wrap .img-wrap img {
    margin: 20px 0px 0px 20px;
    width: 70%;
    height: 70%;
    background: center/cover no-repeat fixed;
    overflow: hidden;
    object-fit: cover;
}

.modal-wrap .media-info {
    width: 47%;
}

.modal-wrap .modal-close {
    width: 6%;
    position: relative;
    bottom: 230px;
    right: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    background: #212529;
    color: white;
    border-radius: 20px;
    font-size: 12px;
    border-radius: 15px;
    cursor: pointer;
}

.media-info h2 {
    padding-bottom: 20px;
    border-bottom: 1px solid #000;
    padding-top: 20px;
}

.media-info .detail-info {
    padding-bottom: 20px;
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

.media-info .description {
    padding-top: 30px;
}

.modal-wrap .reviews {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 30px;
}
.reviews>h2 {
    position: absolute;
    font-size: 20px;
    font-weight: 600;
    margin: -15px 0 0 15px;
}
.reviews>a {
    position: absolute;
    font-size: 15px;
    font-weight: 600;
    margin: -10px 0 0 860px;
    text-decoration-line: none;
    color: #212529;
}
.reviews>a:hover {
    color: #000;
}
.reviews>a>i {
    margin-left: 3px;
    color: #212529;
}

.review-title {
    background-color: #fff;
    border-radius: 6px;
    padding: 10px 10px;
    margin: 15px;
    width: 200px;
    height: 150px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.review-title h2 {
    position: absolute;
    font-size: large;
    font-weight: 500;
}

.review-title>span {
    height: 20px;
    display: flex;
    align-items: center;
    margin-left: 135px;
    padding: 0px 5px;
    border: 1px solid;
    border-radius: 20px;
}
.review-title>span>i {
    font-size: 12px;
    margin-right: 5px;
}
.review-list {
    border-top: 1px solid;
    margin-top: 10px;
}

.review-content {
    margin-top: 10px;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}


.none {
    display: none;
}

#backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(0, 0, 0, 0.75);
}
