/* 전체 레이아웃 설정 */
body {
    font-family: Arial, sans-serif;
    background-color: black !important;
    margin: 0;
    padding: 0;
    color: #B6B6B6;
}

/* 컨테이너 */

#whole {
    display: flex;
    width: 92%;
    margin: 0 auto;
}
/* 좌측 및 우측 사이드바 */

aside {
    width: 20%;
    margin: 67px auto 0 auto;
    position: sticky;
    top: 20px;
    height: calc(100vh - 67px - 20px);
    overflow-y: auto;
    border-radius: 15px;


}

#left-aside {
    left: 0;
}

#right-aside {
    right: 0;
}

.aside-wrap {
    border: 1px solid #ccc;
    border-radius: 15px;
    margin: 0;
    padding: 0 0 60px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background: #171717;
    /*box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px !important;*/
}

.aside-header {
    width: 85%;
    /*text-align: center;*/
    margin: 0 auto;
    padding: 30px;
}
#right-aside .aside-header {
    padding-bottom: 20px;
}
.aside-p {
    padding-top: 20px;
    border-top: 1px solid #636363;
    text-align: right;
    color: #636363;
    font-size: 14px;
    cursor: pointer;
    text-underline: #444444;
}
.aside-p:hover {
    font-weight: 700;
}


aside ul {
    width: 70%;
    margin: 0 auto;
    list-style: none;
    padding: 0;
}

aside ul li {
    /*padding-top: 10px;*/
    font-size: 15px;
    font-weight: 400;
    color: #504f4f;
    padding: 15px 15px 5px 15px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    background: #FFFFFF;
    transition: box-shadow 0.2s;
    cursor: pointer;
}

aside ul li div.aside-div {
    display: flex;
    background: #393838;
}
aside ul li div.aside-div div {
    width: 50%;
}

aside ul li div.aside-div div img {
    /*width: 100%;*/
    width: 70%;
    height: 100%;
    background: center/cover no-repeat fixed;
    overflow: hidden;
}

aside ul li:hover {
    box-shadow: 0 30px 60px -30px rgba(0, 0, 0, 0.9);
}
div.aside-div .aside-div-right > * {
    margin-bottom: 0;
}
div.aside-div .aside-div-right h3 {
    font-size: 20px;
}

.aside-ul hr {
    color: #f1f0f0;
    margin-bottom: 45px;

}

.aside-ul .aside-li {
    cursor: pointer;
    background: #393838;
}

.aside-title {
    font-size: 17px;
}
.aside-title:hover {
    color: #0c70d6;
    text-underline: #0c70d6;
    scale: 1.1;
    text-decoration: underline;
}
.aside-div-right h3 {
    color: #B6B6B6;
    font-size: 20px;
    font-weight: 400;
}

/* 메인 섹션 */
main {
    width: 50%;
    background-color: #222323;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 67px 100px 0;

}

/* 미디어 정보 섹션 */
.media-info {
    justify-content: space-evenly;
    display: flex;
    margin-bottom: 20px;
    /* border-bottom: 1px solid #ddd; */
    padding-bottom: 20px;
}
#wrap {
    color: #B6B6B6 !important;
}

.media-image {
    width: 300px; /* 너비를 더 크게 설정 */
    height: 440px; /* 높이를 더 크게 설정 */
    overflow: hidden; /* 이미지가 넘칠 경우를 대비하여 숨김 처리 */
    margin-right: 20px; /* 우측 여백 설정 */
}

.media-image img {
    width: 100%; /* 이미지 너비를 부모 요소에 맞추도록 설정 */
    height: auto; /* 이미지 높이 자동 설정 */
    object-fit: cover; /* 이미지 비율을 유지하면서 요소에 맞추도록 설정 */
    border-radius: 5px; /* 테두리 모서리를 둥글게 설정 */
}

.media-description {
    padding: 10px;
    display: grid;
}

.media-description p {
    font-size: 18px;
    margin: 5px 0;
    color: #B6B6B6;
}

.media-title {
    font-size: 24px;

}

#list-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

#list-btn a {
    color: #fff;
    text-decoration: none;
}

#list-btn:hover {
    background-color: #0056b3;
}

/* 리뷰 등록 폼 섹션 */
.review-form {
    margin-bottom: 20px;
    /* border-bottom: 1px solid #ddd; */
    padding-bottom: 20px;
    color: #B6B6B6;
}
.review-form > * {
    color: #B6B6B6;
}
#reviewForm > * {
    color: #B6B6B6;
}

.review-item > * {
    color: #B6B6B6;
}

h3 {
    display: inline-block;
    font-size: 20px;
    margin-bottom: 30px;
    color: #333;
    font-weight: 900;
}

p.review-average {
    display: inline-block
}

h3.review-list {
    /* display: inline; */
}

#reviewText {
    width: 100%;
    background: #393838;
}

.review-form label {
    /* display: block; */
    margin-bottom: 5px;
    color: #555;
}

.review-form textarea, .review-form input, .review-form select {
    /* width: 100%; */
    margin-right: 50px;
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#reviewBtn {
    /* display: block; */
    padding: 10px 15px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 150px;
    margin-top: 30px;
}

#reviewBtn:hover {
    background-color: #218838;
}

/* 리뷰 목록 섹션 */
.review-list {
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

.review-item {
    margin-bottom: 10px;
    color: #B6B6B6;
    background: #393838;
}

.review-item p {
    margin: 5px 0;
    color: #B6B6B6;
}

.review-item strong {
    color: #B6B6B6;
}

/* 좋아요 버튼 스타일링 */
.reaction-buttons {
    margin-top: 10px;
}

p {
    color: darkgray;
}

.like-btn {
    padding: 5px 10px;
    background-color: #f0f0f0;
    color: #333;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.like-btn i {
    margin-right: 5px;
}

.like-btn.active {
    background-color: #007bff;
    color: #fff;
}

.like-btn.active i {
    color: #fff;
}

.like-btn:hover {
    background-color: #007bff;
    color: #fff;
}

.like-btn:hover i {
    color: #fff;
}

.like-btn span {
    margin-left: 5px;
    font-weight: bold;
}

/* 리뷰 액션 버튼들 (삭제 및 수정) */
.review-actions {
    margin-top: 10px;
}

.del-btn {
    padding: 5px 10px;
    background-color: #c53f4cf5;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.del-btn:hover {
    background-color:#da3142;
}

.mod-btn {
    padding: 5px 10px;
    background-color: #5493e6f5;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.mod-btn:hover {
    background-color: #66a1eef5;
}

/* .review-actions button {
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #c53f4cf5;
    color: #333;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.review-actions button:hover {
    background-color: #c73443;
} */

/* 리뷰 수정 모달 */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.modal-content textarea, .modal-content input, .modal-content select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.modal-content button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modal-content button:hover {
    background-color: #0056b3;
}



.live-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 10px;
    margin-bottom: 10px;
}