<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace에는 연결할 인터페이스의 풀네임 -->
<!-- 설정파일에 매퍼 등록 -->
<mapper namespace="com.project.mvc.mapper.seongjin.FollowLogMapper">

    <select id="getList" resultType="com.project.mvc.dto.seongjin.FollowExistsDto">
        SELECT
        <if test="type">
            FL.target_email AS email,
            U.nickname,
            (1=1) AS "exist"
            FROM follow_log FL
            INNER JOIN user U
            ON (FL.target_email = U.email)
            WHERE user_email = #{userEmail}
            ORDER BY follow_no
        </if>
        <if test="!type">
            f1.user_email AS email,
            U.nickname,
            CASE
            WHEN f2.user_email IS NOT NULL THEN true
            ELSE false
            END AS "exist"
            FROM
            follow_log f1
            LEFT JOIN
            follow_log f2
            ON
            f1.target_email = f2.user_email AND f1.user_email = f2.target_email
            INNER JOIN user U
            ON (f1.user_email = U.email)
            WHERE
            f1.target_email = #{userEmail}
            ORDER BY f1.follow_no
        </if>
    </select>

    <insert id="follow">
        INSERT INTO follow_log
            (user_email, target_email)
        VALUE
            (#{userEmail}, #{targetEmail})
    </insert>
    <delete id="unfollow">
        DELETE FROM follow_log
            WHERE user_email = #{userEmail}
            AND target_email = #{targetEmail}
    </delete>
    <select id="followed" resultType="boolean">

    SELECT COUNT(*) FROM
    follow_log
            WHERE user_email = #{userEmail}
            AND target_email = #{targetEmail}
    </select>


</mapper>
