<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.mvc.mapper.zyo.MediaMapper">
    <sql id="category">
        <if test="categoryNo == 1">
            AND category_no = 1
        </if>
        <if test="categoryNo == 2">
            AND category_no = 2
        </if>
        <if test="categoryNo == 3">
            AND category_no = 3
        </if>
    </sql>
    <!--  동적 SQL 조건을 분리  -->
    <sql id="search">
        <if test="searchType == 'title'">
            AND media_title LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <if test="searchType == 'creator'">
            AND creator LIKE CONCAT('%', #{keyword}, '%')
        </if>
            <include refid="category"/>
        <if test="orderBy == 'rating'">
            ORDER BY rating
            <if test="order == 'DESC'">
                DESC
            </if>
        </if>
        <if test="orderBy == 'date'">
            ORDER BY created_at
            <if test="order == 'DESC'">
                DESC
            </if>
        </if>
    </sql>

    <select id="findAll" resultType="media">
        SELECT
        *
        FROM media
        WHERE 1=1
        <include refid="search" />
    </select>

    <select id="findMedia" parameterType="long" resultType="media">
        SELECT
        *
        FROM media
        WHERE media_no = #{mediaNo}
    </select>
  
    <select id="findImageUrlByCategory" parameterType="int" resultType="media">
        SELECT *
        FROM media
        WHERE 1=1
        <include refid="category" />
    </select>

    <select id="findReviewByCategory" resultType="review">
        select * from review
        WHERE media_no in (select media_no from media
        WHERE category_no = #{category_no})
    </select>

    <select id="findDiscussionByCategory" resultType="discussion">
        select * from discussion
        WHERE media_no in (select media_no from media
        WHERE category_no = #{category_no})
    </select>

    <select id="findReviewRenderInfo" resultType="com.project.mvc.dto.zyo.ReviewRenderingDto">
        SELECT
        U.nickname,
        R.email,
        R.review_no,
        R.user_rating,
        R.review_text,
        R.review_created_at,
        R.media_no,
        M.media_title,
        M.image_url
        FROM review AS R
        INNER JOIN user AS U
        USING (email)
        INNER JOIN media AS M
        USING (media_no)
        WHERE M.category_no = #{category_no}
    </select>

    <select id="findDiscussRenderInfo" resultType="com.project.mvc.dto.zyo.DiscussRenderingDto">
        SELECT
        U.nickname,
        D.email,
        D.discussion_no,
        D.discussion_title,
        D.discussion_created_at,
        D.view_count,
        D.media_no,
        M.media_title,
        M.image_url,
        COUNT(R.discussion_reply_no) AS reply_count
        FROM discussion AS D
        INNER JOIN user AS U USING (email)
        INNER JOIN media AS M USING (media_no)
        LEFT JOIN discuss_reply R ON R.discussion_no = D.discussion_no
        WHERE M.category_no = #{category_no}
        GROUP BY
        U.nickname,
        D.email,
        D.discussion_no,
        D.discussion_title,
        D.discussion_created_at,
        D.view_count,
        D.media_no,
        M.media_title,
        M.image_url
    </select>

    <select id="findByMediaNo" resultType="media">
        SELECT * FROM MEDIA
        WHERE media_no = #{mediaNo}
    </select>


    <select id="findAsideList" resultType="com.project.mvc.dto.response.kibeom.MediaAsideListDto">
        SELECT * FROM media
    </select>

</mapper>