<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace에는 연결할 인터페이스의 풀네임 -->
<!-- 설정파일에 매퍼 등록 -->
<mapper namespace="com.project.mvc.mapper.seongjin.UserMapper">

    <insert id="save">
        INSERT INTO user
            (email, nickname, password, auth)
        VALUES
            (#{email}, #{nickname}, #{password}, "COMMON")
    </insert>

    <select id="findOne" resultType="user">
        SELECT
            email
        ,   nickname
        ,   password
        ,   auth
        ,   reg_date
        FROM user
        WHERE email = #{email}
    </select>

    <select id="isExist" resultType="boolean">
        SELECT
        COUNT(*)
        FROM
        user
        <if test="type == 'email'">
            WHERE email = #{keyword}
        </if>
        <if test="type == 'nickname'">
            WHERE nickname = #{keyword}
        </if>
    </select>

    <update id="updateAutoLoginSession">
        UPDATE user
        SET session_id = #{sessionId}, limit_time = #{limitTime}
        WHERE email = #{email}
    </update>

    <select id="findBySessionId" resultType="user">
        SELECT
            email
        ,   nickname
        ,   auth
        ,   limit_time
        WHERE session_id = #{session_id}
    </select>


</mapper>