<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--  카멜케이스  -->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.project.mvc.entity.Media" alias="media"/>

        <typeAlias type="com.project.mvc.entity.Review" alias="review"/>

        <typeAlias type="com.project.mvc.entity.User" alias="user"/>
        <typeAlias type="com.project.mvc.entity.Discussion" alias="discussion"/>
        <typeAlias type="com.project.mvc.entity.DiscussReply" alias="discussReply"/>

    </typeAliases>

    <mappers>
        <mapper resource="mappers/MediaMapper.xml" />

        <mapper resource="mappers/jihye/ReviewMapper.xml" />

        <mapper resource="mappers/kibeom/DiscussionMapper.xml" />
        <mapper resource="mappers/UserMapper.xml"/>

        <mapper resource="mappers/kibeom/DiscussReplyMapper.xml"/>



    </mappers>




</configuration>