<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.mvc.mapper.kibeom.DiscussReplyMapper">



    <insert id="insert">
        INSERT INTO discuss_reply
        (discussion_no, email, discussion_reply_content, discussion_reply_created_at)
        values (#{discussionNo}, #{email}, #{discussionReplyContent}, #{discussionReplyCreatedAt})
    </insert>

    <select id="findAll" resultType="com.project.mvc.entity.DiscussReply">
        SELECT
        D.discussion_no,
        D.discussion_reply_content,
        D.discussion_reply_no,
        D.discussion_reply_created_at,
        D.discussion_reply_updated_at,
        U.nickname AS nickname,
        D.email
        FROM discuss_reply D
        INNER JOIN user U ON D.email = U.email
        WHERE D.discussion_no = #{discussionNo}
    </select>

    <select id="findNicknameByEmail" resultType="java.lang.String">
        SELECT
        nickname
        FROM user
        WHERE email = #{email}
    </select>

    <select id="getReplyCountByDiscussionNo" resultType="int">
        SELECT COUNT (*)
        FROM discuss_reply
        WHERE discussion_no = #{discussionNo}
    </select>

    <select id="getReplyCounts" resultType="int">
        SELECT count (*) as 'count'
        FROM discuss_reply
        GROUP BY discussion_no
        ORDER BY count DESC
    </select>

    <delete id="remove">
        DELETE FROM discuss_reply
        WHERE discussion_reply_no = #{discussionReplyNo}
    </delete>

    <update id="update">
        UPDATE discuss_reply
        SET
        discussion_reply_content = #{discussionReplyContent},
        discussion_reply_updated_at = current_timestamp
        WHERE discussion_reply_no = #{discussionReplyNo}
    </update>

</mapper>

