@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color: #B6B6B6;
}

body {
    font-family: "NanumSquare", sans-serif;
    background-color: black !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


#whole {
    display: flex;
    width: 92%;
    margin: 0 auto;
}

.content-wrap {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 50%;
    margin: 0 auto;
}

aside {
    width: 20%;
    margin: 67px auto 0 auto;
    position: sticky;
    top: 20px;
    height: calc(100vh - 67px - 20px);
    overflow-y: auto;
    border-radius: 15px;


}

#left-aside {
    left: 0;
}

#right-aside {
    right: 0;
}

.aside-wrap {
    border: 1px solid #ccc;
    border-radius: 15px;
    margin: 0;
    padding: 0 0 60px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background: #171717;
    /*box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px !important;*/
}

.aside-header {
    width: 85%;
    /*text-align: center;*/
    margin: 0 auto;
    padding: 30px;
}
.aside-p {
    padding-top: 20px;
    border-top: 1px solid #636363;
    text-align: right;
    color: #636363;
    font-size: 14px;
    cursor: pointer;
    text-underline: #444444;
}
.aside-p:hover {
    font-weight: 700;
}


aside ul {
    width: 70%;
    margin: 0 auto;
    list-style: none;
    padding: 0;
}

aside ul li {
    /*padding-top: 10px;*/
    font-size: 15px;
    font-weight: 400;
    color: #504f4f;
    padding: 15px 15px 5px 15px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    background: #FFFFFF;
    transition: box-shadow 0.2s;
    cursor: pointer;
}

aside ul li div.aside-div {
    display: flex;
    background: #393838;
}
aside ul li div.aside-div div {
    width: 50%;
}

aside ul li div.aside-div div img {
    /*width: 100%;*/
    width: 70%;
    height: 100%;
    background: center/cover no-repeat fixed;
    overflow: hidden;
}

aside ul li:hover {
    box-shadow: 0 30px 60px -30px rgba(0, 0, 0, 0.9);
}
div.aside-div .aside-div-right > * {
    margin-bottom: 0;
}
div.aside-div .aside-div-right h3 {
    font-size: 20px;
    color: #B6B6B6;
}

.aside-ul hr {
    color: #f1f0f0;
    margin-bottom: 45px;

}

/*#right-aside li {*/
/*    height: 118px;*/
/*}*/



.discussion-card {
    background-color: #222323;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
    margin-top: 50px;
}

.discussion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.discussion-title {
    font-size: 24px;
    font-weight: bold;
}

.discussion-info {
    font-size: 14px;
    color: #777;
}

.discussion-body {
    /*margin-bottom: 20px;*/
    display: flex;
    justify-content: space-between;
}
.discussion-body button {
    border: none;
    background: none;
    color: white;
}

.discussion-offer {
    margin-top: 10px;
    font-size: 17px;
    line-height: 1.6;
    border: 1px solid #c5c3c3;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 1px rgba(74, 74, 74, 0.2);
    background: #393838;

}

.discussion-actions {
    display: flex;
    gap: 10px;
}

#commentForm {
    width: 90%;
    margin: 0 auto;
}

.like-btn, .comment-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.comment-section {
    width: 100%;
    max-width: 800px;
    /*background: #393838;*/
    background: #222323;
}

.comment-section h2 {
    font-size: 20px;
    margin-bottom: 10px;
    text-indent: 30px;
}
#comments {
    background: #222323;
}
.comment-card {
    background-color: #222323;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(80, 79, 79, 0.1);
    margin-bottom: 10px;
}

.comment-header {
    margin-bottom: 10px;
    font-size: 14px;
    color: #777;
    position: relative;
    margin-left: 10px;
}

.comment-body {
    font-size: 16px;
    line-height: 1.6;
    position: relative;
}

#modify-delete-btn,
#cancle-clear-btn {
    text-align: right;
    width: 97.5%;
    background: #222323 !important;
    color: #ABABAB !important;
}
.cancleAndClearBtn {
    display: none;
}
aside::-webkit-scrollbar {
    display: none;
}

body::-webkit-scrollbar {
    display: none;
}
.reply-comment {
    margin-top: 6px;
    border: 1px solid #c5c3c3;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.comment-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    margin-bottom: 10px;
    background: #393838;
}


div.modify-and-delete {
    /*left: 82%;*/
    /*position: relative;*/
    margin-left: 20px;
    cursor: pointer;
    /*text-decoration-line: none !important;*/
    /*color: #444444 !important;*/
}

#modify {
    text-decoration-line: none !important;
    color: #444444 !important;
    cursor: pointer;
}
#delete {
    text-decoration-line: none !important;
    color: #444444 !important;
    cursor: pointer;
}


#finish {
    padding: 10px 20px;
    background-color: #989898;
    color: #fff;
    border: none;
}


#backdrop {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 30;
}


.hide {
    display: none;
}

#my-content {
    text-align: right;
}
#my-nickname {
    position: absolute;
    right: 0;
}

#my-date {
    position: absolute;
    right: 0;
}

.modify-input {
    margin-top: 10px;
    width: 100%;
    resize: none;
    border-radius: 5px;
    text-indent: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: 1px solid #c5c3c3;
    padding: 25px;
    background: #393838;
    
    
}

.comment-card {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.comment-header, .comment-body {
    padding: 10px;
    /*border: 1px solid #ddd;*/
    border-radius: 5px;
    margin-bottom: 5px;
}

.comment-card.self {
    align-items: flex-end;
}

.comment-card.self .comment-header,
.comment-card.self .comment-body {
    text-align: right;
    /*background-color: #f0f8ff;*/
}

.modifyBtn, .clearBtn {
    cursor: pointer;
    margin-left: 5px;
    border: none;
    background: none;
    color: white;
}
.deleteBtn, .cancleBtn {
    cursor: pointer;
    border: none;
    background: none;
    color: white;

}

.saveBtn {
    cursor: pointer;
    margin-left: 5px;
    border: none;
    color: #8D8D8D;
    background: none;
}
.cancelBtn {
    cursor: pointer;
    border: none;
    color: #8D8D8D;

    background: none;

}

div.comment-header-self {
    margin-right: 20px;
    margin-bottom: 25px;
}

.comment-form {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    width: 100%;
    position: relative;
    padding-bottom: 20px;
    border-radius: 10px;
}
.message {
    text-align: center;
}
div.button-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.button-wrap button {
    text-align: center;
    background: #393838;
    padding: 10px 20px;
    border-radius: 15px;
}

#reply-textarea {
    width: 85%;
    border-radius: 15px;
    text-indent: 10px;
}

#submitComment {
    width: 12%;
    cursor: pointer;
    position: relative;
    bottom: 40px;
    border-radius: 15px;
    height: 70px;
    color: white;
    background: #acaaaa !important;
    border: none;
    padding: 10px 20px;
    align-self: flex-end;
}

@keyframes vivid-btn {
    from {
        background: #acaaaa;
    }
    to {
        background: #393838;
    }
}


.list-btn {
    background-color: #393838;
    border: 0;
    color: #B6B6B6;
    border-radius: 0.5em;
    font-size: 15px;
    padding: 0.375em 1em;
    font-weight: 600;
    transition: 0.15s ease;
    cursor: pointer;
    width: 10%;
    height: 2%;
}

.list-btn:hover {
    translate: 0 0.225em;
    box-shadow: inset 0 0.03em 0 0 #f4f4f4, 0 0.03em 0 0 #efefef, 0 0.0625em 0 0 #ececec, 0 0.125em 0 0 #e0e0e0, 0 0.125em 0 0 #dedede, 0 0.2em 0 0 #dcdcdc, 0 0.225em 0 0 #cacaca, 0 0.225em 0.375em 0 #cecece;
    cursor: pointer;
}

.aside-ul .aside-li {
    cursor: pointer;
    background: #393838;
}

.aside-title {
    font-size: 17px;
}
.aside-title:hover {
    color: #0c70d6;
    text-underline: #0c70d6;
    scale: 1.1;
    text-decoration: underline;
}

.live-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 10px;
    margin-bottom: 10px;
}
.discussion-media-name:hover, .nickname:hover {
    font-weight: 700;
    cursor: pointer;
}

.discussion-title div {
    font-size: 15px;
}

.discussion-title div:first-child {
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 18px;
}
input, textarea {
    outline: none !important;
}