* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*header {*/
/*    background-color: #333;*/
/*    color: #fff;*/
/*    padding: 10px;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*}*/

/*.logo {*/
/*    font-size: 24px;*/
/*}*/

/*.search-bar {*/
/*    display: flex;*/
/*}*/

/*.search-bar input {*/
/*    padding: 5px;*/
/*    font-size: 16px;*/
/*}*/

/*.search-bar button {*/
/*    padding: 5px 10px;*/
/*    background-color: #555;*/
/*    color: #fff;*/
/*    border: none;*/
/*    cursor: pointer;*/
/*}*/

/*nav ul {*/
/*    list-style: none;*/
/*    display: flex;*/
/*    gap: 15px;*/
/*}*/

/*nav ul li a {*/
/*    color: #fff;*/
/*    text-decoration: none;*/
/*}*/

main {
    flex: 1;
    display: flex;
    padding: 20px;
}

.list-wrap {

    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    width: 80%;
    margin: 100px auto ;
}

.list-wrap h1 {

    font-size: 24px;
    padding-bottom: 5px;
}
.list-wrap hr {
    color: black;
    margin-bottom: 20px;
    margin-top: 20px;
}

#top-parents input {
    text-indent: 10px;
}

.discuss-wrap hr {
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
    width: 100%;
    /*margin: 10px auto;*/
}

.card {
    padding: 15px 15px 0 15px;
    /*margin-bottom: 10px;*/
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #F8F8F8;
    cursor: pointer;
    box-shadow: 0 30px 60px -20px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.2s;
}
.card:hover {
    box-shadow: 0 30px 60px -30px rgba(0, 0, 0, 0.9);
}

.card div {
    /*margin-bottom: 5px;*/
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}

.card .nickname {
    margin-right: 5%;
}

.make-discussion {
    display: block;
    margin-top: 15px;
    padding: 20px;
    background: white;
    color: black;
    border: none;
    cursor: pointer;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.2);
}

.make-discussion:hover {
    background-color: #c8ccd3;
    transition: 0.5s;
}
#top-parents input {
    height: 36px;
    margin-right: 5px;
}
#top-parents select {
    margin-bottom: 10px;
}

.btn-primary {
    background: lightgray;
    border: none;
}


.fetch-wrap {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-height: 20rem;
    overflow: scroll;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.none {
    display: none;
}

.hide {
    display: none;
}
#nickname {
    background: #E7F0FE;
}



/* 페이지 스타일 */
/* pagination style */
.bottom-section {
    display: flex;
    width: fit-content;
    margin: 0 auto;
}

.bottom-section nav {
    flex: 1;
    justify-content: center;
}


.pagination-custom a {
    color: #444 !important;
}

.pagination li.active {
    background: #333 !important;
    color: #fff !important;
}
.bottom-section nav {
    margin-top: 50px;
}

#top-parents {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

#top-parents div {
    position: relative;
    margin-left: 2%;
}

.make-discussion {
    border-radius: 30px;
    margin-bottom: 20px;
    padding: 0 10px;
    margin-right: 5%;
}
.media-title h3 {
    font-size: 20px;
}

/*.pagination-custom li.active a,*/
/*.pagination-custom li:hover a {*/
/*    background: #333 !important;*/
/*    color: #fff !important;*/
/*}*/

#discuss-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 93%;
    margin: 0 auto;
}

#discuss-wrap .card {

    margin-bottom: 50px;
    width: 30%;
    padding: 50px 0;
    padding-left: 15px;
    border-radius: 20px;
}
#discuss-wrap .card:nth-child(3n + 1) {
    margin-right: 60px;
}
#discuss-wrap .card:nth-child(3n + 2) {
    margin-right: 60px;
}

.discussion-title {
    border-bottom: 1px solid black;
    padding-bottom: 25px;

}

.main-content {
    padding-top: 15px;
}