* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: #b6b6b6;
}

body {
    background-color: black !important;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    display: flex;
    padding: 20px;
}

.list-wrap {

    flex: 1;
    background-color: #222323;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(214, 212, 212);

    width: 80%;
    margin: 100px auto ;
}

.list-wrap h1 {
    text-indent: 60px;
    font-size: 24px;
    padding-bottom: 5px;
}
.list-wrap hr {
    color: #E5E5E5;
    margin-bottom: 20px;
    margin-top: 20px;
}

#top-parents input {
    text-indent: 10px;
}

.discuss-wrap hr {
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
    width: 100%;
    /*margin: 10px auto;*/
}

.card {
    padding: 15px 15px 0 15px;
    /*margin-bottom: 10px;*/
    border: 1px solid #222323;
    border-radius: 10px;
    background-color: #393838;
    cursor: pointer;
    box-shadow: 0 30px 60px -20px rgb(69, 69, 69);
    transition: box-shadow 0.2s;
    height: 330px;
}
.card:hover {
    box-shadow: 0 30px 60px -30px rgb(214, 212, 212);
}

.card div {
    /*margin-bottom: 5px;*/
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}

.card .nickname {
    margin-right: 5%;
}

.button-wrap {
    margin-right: 30px;
}
.make-discussion {
    display: block;
    background: #D0CECE;
    color: black;
    cursor: pointer;
    text-align: center;
    padding: 10px 20px;
    box-shadow: 0 10px 10px -10px rgb(198, 194, 194);
    border-radius: 30px;

}



.make-discussion:hover {
    background-color: #c8ccd3;
    transition: 0.5s;
}
#top-parents form {
    margin-top: 10px;
}

#top-parents input {
    height: 36px;
    margin-right: 5px;
    background-color: #d1cece;
    border: none;
    color: black;
}
#top-parents #search-type {
    margin-bottom: 25px;
    background-color: #9f9e9e;
    border: none;
    color: black;
}

#top-parents #sortSelect {
    margin-top: 10px;
    background-color: #9f9e9e;
    border: none;
    width: 95%;
    padding: 10px;
    color: black;
}

.btn-primary {
    background: #8e8d8d;
    border: none;
    color: black;
}
.btn-primary:hover {
    background: #cdcdcd;
    box-shadow: 0 30px 60px -20px rgb(255, 255, 255);
}

.btn-primary i {
    color: black;
}


/*.fetch-wrap {*/
/*    background-color: #fff;*/
/*    padding: 20px;*/
/*    border-radius: 10px;*/
/*    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
/*    max-height: 20rem;*/
/*    overflow: scroll;*/
/*}*/

/*footer {*/
/*    background-color: #333;*/
/*    color: #fff;*/
/*    text-align: center;*/
/*    padding: 10px;*/
/*}*/

.none {
    display: none;
}

.hide {
    display: none;
}
#nickname {
    background: #E7F0FE;
}



/* 페이지 스타일 */
/* pagination style */
.bottom-section {
    display: flex;
    width: fit-content;
    margin: 0 auto;
}

.bottom-section nav {
    flex: 1;
    justify-content: center;
}


.pagination-custom a {
    color: #444 !important;
}

.pagination li.active {
    background: #333 !important;
    color: #fff !important;
}
.bottom-section nav {
    margin-top: 50px;
}

#top-parents {
    position: relative;
    display: flex;
    justify-content: space-between;

    margin: 0 30px 50px;
}

#top-parents div {
    position: relative;
    margin-left: 2%;
}


.media-title h3 {
    font-size: 20px;
}

/*.pagination-custom li.active a,*/
/*.pagination-custom li:hover a {*/
/*    background: #333 !important;*/
/*    color: #fff !important;*/
/*}*/

#discuss-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 93%;
    margin: 0 auto;
}

#discuss-wrap .card {

    margin-bottom: 50px;
    width: 30%;
    padding: 50px 0;
    padding-left: 15px;
    border-radius: 20px;
}
#discuss-wrap .card:nth-child(3n + 1) {
    margin-right: 60px;
}
#discuss-wrap .card:nth-child(3n + 2) {
    margin-right: 60px;
}

.discussion-title {
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 25px;
    font-size: 1.7rem;
    color: white;
    text-shadow: 2px 2px 10px #000;
    width: 95%;
}

.main-content {
    padding-top: 15px;
}

.nickname:hover, .media-title h3:hover {
    font-weight: 700;
    cursor: pointer;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;

    background-color: #aaaaaa;
}
.page-link {
    position: relative;
    display: block;
    color: white;
    text-decoration: none;
    background-color: #393838;
    border: 1px solid #626161;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.page-item.active .page-link {
    border-color: black;
}


input, textarea, select {
    outline: none !important;
}

